# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.syso
bin/unifireserata*

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work

# UniFi targets
*.supp
*.unf
*.zip